.top {
    width: 100%;
    height: 50px;
   
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    background-color:#121212;
    font-family: "Josefin Sans", sans-serif;
    box-shadow: 7px 10px 29px -10px rgba(0,0,0,0.75);

  }
  
  .topLeft,
  .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .topIcon {
    font-size: 20px;
    margin-right: 10px;
    color:aliceblue !important;
    cursor: pointer;
  }
  
  .topCenter {
    flex: 6;
  }
  
  .topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: aliceblue;
  }
  
  .topListItem {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  

  
  .topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
    border-color: white;
    color:white;
    background-color: white;
  }
  
  .topSearchIcon {
    font-size: 18px;
    color:aliceblue;
    cursor: pointer;
  }
.link:hover{
color: aqua;
text-decoration: none;
}
 